// Global Variables
// Color Scheme
$color-dark-blue: #229AEF;
$color-light-blue: #73E0FE;
$color-grey: #4E5C6E;

// Default Fonts
$authenticationPage: 'Lato', sans-serif;
$mainBody: 'Roboto', sans-serif;