.msidebar {
  width: 250px;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #1C6EA4;
}

// .tabs {
//   justify-content: center;
// }


.tabsMenu {
  display: flex;
  justify-content: center;
}

.tabs {
  overflow: auto;
  flex-grow: 1;
  background-color: white;
  padding: 10px;
  border: 1px;
  text-align: center;
}

.identificationText {
  padding: 2px;
  border-top: 2px;
  border-right: 2px;
  color: black;
}

.identification {
  color: rgb(54, 52, 52);
}

.sidebarMain {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
}

.convoItems{
  width: 50px;
  height: 50px;
  flex-grow: .1;
  border: 0px;
}

.contactItems{
  display: block;
  overflow: auto;
}

.openModalBtn {
  background-color: cornflowerblue;
  border-radius: 4px;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 2px;
  margin-right: 2px;
  margin-left: 2px;
}

