@import url('https://cdn.syncfusion.com/ej2/material.css');


.modalBackground {
  position: fixed;
  background-color: rgba(50.2%, 50.2%, 50.2%, 0.5);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 1000;
}


.modalContainer {
  width: 80%;
  height: 80%;
  border-radius: 12px;
  background-color: white;
  box-shadow: black 0px 5px 15px;
  display: flex;
  flex-direction: column;
  /* padding: 25px; */
  position: fixed;

  justify-content: flex-start;
  /* max-width: max-content;
  max-height: max-content;
  justify-content: space-around; */
  top: 0;
  left: 0;
  margin-top: 5%;
  margin-left: 10%;
  max-height: 500px;
}

.modalContainer .title {
  font-size: 25px;
  font-weight: bold;
  /* display: inline-block; */
  text-align: center;
  /*left or right*/
  /* margin-top: 10px; */
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
  /*items are packed toward the end of flex directon*/
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  margin-left: 5px;
  font-size: 20px;
  /* text-align: center; */
  flex-direction: column;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 4fr 5fr;
}

label input {
  max-width: 45vw;
  position: fixed;
  left: 35%;
  align-items: center;
  width: -webkit-fill-available;
}

.modalContainer .footer {
  font-size: 10px;
  flex: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

