@use '../../global';

.sidebar {
  position: relative;
  width: 25vw;
  max-width: 256px;
  min-width: 200px;
  height: 100vh;
  left: 0px;
  top: 0%;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FAFAFA;
}

.sidebar_navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-left: 10%;
}

.lingo_logo {
  transform: scale(0.7);
}

.link_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 5%;
  padding-left: 30%;
  // align-items: center;
  width: 100%;
}

.links {
  text-decoration: none;
  color: global.$color-grey;
  font-family: global.$mainBody;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  padding-left: 15%;
}

.icon {
  transform: scale(1);
}

.chat {
  padding-left: 17%;
}

.divider {
  width: 100%;
  color: global.$color-grey;
  // box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: rgba(0, 0, 0, 0.12);

}