body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  z-index: 999;
}

.left_logo {
  position: relative;
  width: 1069px;
  background-color: #F7F7F7;
}

.right_part {
  position: relative;
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  scale: 0.65;
  position: relative;
  top: 200px;
}

.need_sign_up_container {
  position: absolute;
  top: 75px;
  left: 753px;
}

.need_sign_up {
  font-size: 20px;
  color: #555;
}

.sign_up_link {
  text-decoration: none;
  color: #4598e6;
  font-size: 18px;
}

.title {
  display: inline-block;
  font-size: 70px;
  margin-bottom: 15px;
  position: absolute;
  top: 237px;
  left: 250px;
  color: #23222D
}

.title_blue {
  color:#73E0FE
}

.rest_title {
  font-size: 68px;
  margin-bottom: 15px;
  position: absolute;
  color: #73E0FE;
  top: 323px;
  left: 252px;
}

.form_input {
  display: block;
  width: 438px;
  height: 44px;
  border-radius: 5px;
  border-color: lightgray;
  margin-bottom: 25px;
  font-size: 20px;
  padding-left: 10px;
}

.forgot_pw_input {
  position: relative;
  bottom: -28px;
}

input:focus {
  outline: none !important;
}

.button {
  display: block;
  width: 458px;
  height: 46px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  margin-top: 60px;
  border: none;
  background-color: #229AEF;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

.sign_up_form {
  position: absolute;
  top: 443px;
  left: 257px;
}

.sign_in_form {
  position: absolute;
  top: 368px;
  left: 257px;
}

.link {
  position: absolute;
  left: 259px;
  bottom: 264px;
  text-decoration: none;
}

.sign_in_btn {
  cursor: pointer;
  position: absolute;
  left: 260px;
  top: 482px;
}

.reset_pw_link {
  position: absolute;
  bottom: 501px;
  font-size: 20px;
  left: 470px;
}

.visitor_link {
  position: absolute;
  right: -330px;
  font-size: 16.5px;
}

//create account
.create_account_container {
  display: flex;
  position: relative;
  left: 258px;
  top: 128px;
}

.photo {
  height: 1011px;
  width: 667px;
  object-fit: cover;
  margin-right: 210px;
}

.content_container {
  position: relative;
  top: 166px;
}

.create_account_title {
  color: #4E5C6E;
  /* text-align: center; */
  font-size: 55px;
  margin: 20px 0;
  font-weight: 500;
  word-spacing: 4px;
  position: relative;
  left: -34px;
}

.form_input_create_account {
  width: 380px;
  height: 39px;
  border-radius: 9px;
  margin-bottom: 11px;
  font-size: 18px;
  padding-left: 10px;
  display: block;
  border-color: #e7e2e2;
}

.label {
  color: #404040;
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}

.confirm_account_btn {
  width: 417px;
  margin: 20px 0;
  font-weight: bold;
  border-radius: 9px;
  position: relative;
  top: -10px;
}


.select {
  height: 48px;
  border-radius: 10px;
  margin-right: 3px;
  margin-bottom: 7px;
  border-color: lightgray;
  font-size: 15px;
  color: #555;
  text-align: center;
  width: 133px;
  position: relative;
  top: -10px;
}

.jargon_select {
  width: 402px;
}

.add_lang_btn {
  border: none;
  position: relative;
  top: -13px;
  cursor: pointer;
  background-color: transparent;
}

.input_file {
  margin: 10px 0 18px 0;
  scale: 1.3;
  position: relative;
  right: -37px;
}

.photo_upload_label {
  margin-top: 5px;
}

.show_list {
  color: #555;
}

.show_message {
  background-color: #73E0FE;
  position: absolute;
  top: 170px;
  left: 253px;
  height: 53px;
  width: 447px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
}

.show_error {
  position: relative;
  left: -484px;
  top: -112px;
  font-weight: 400;
}

//changed password
.change_password_container {
  position: absolute;
  left: 40%;
  top: 15%;
}

.change_password_title {
  color: #555;
  text-align: center;
  font-size: 35px;
  margin: 20px 0;
}

.change_pw_btn {
  margin-top: 31px;
  margin-bottom: -20px;
  width: 396px;
  border-radius: 7px;
}

.cross {
  position: relative;
  left: 23px;
  top: 3px;
}