.appView {
  display: flex;
  width: 100%;
}

.view {
  display: flex;
  width: 100%;
}

nav {
  display: grid;
  width: 20%;
}

.forums {
  display: flex;
  padding-left: 5%;
  width: 100%;
}

.card {
  height: 300px;
  width: 200px;
  border: 1px solid black;
}